*.o
*.so
*.out
/multi_armed_bandit/build
/multi_armed_bandit/html
/multi_armed_bandit/latex
/reinforcement/CMakeFiles
/reinforcement/cmake_install.cmake
/reinforcement/CMakeCache.txt
/reinforcement/Makefile
/reinforcement/compile_commands.json
/reinforcement/coverage.info
/reinforcement/coverage.xml
/reinforcement/tests
/reinforce/build
/reinforce/MultiArmedBandit
/reinforce/Blackjack
.DS_Store
cmake_install.cmake
*./CMakeFiles
examples/tic_tac_toe/build
CMakeCache.txt
CMakeFiles/

